In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('recon_data_raw.csv')

In [3]:
df.head()

,txn_ref_id,sys_a_date,sys_a_amount_attribute_1,sys_a_amount_attribute_2,sys_b_date,sys_b_amount_attribute_1,sys_b_amount_attribute_2,txn_type,payment_method,recon_status,recon_sub_status,currency_type
0,44516715,02/04/24,20.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
1,34286015,07/07/24,116.699997,1.4,NaN,NaN,NaN,payout,upi,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
2,90851690,07/05/24,50.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
3,67286592,30/07/24,900.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
4,15780875,14/08/24,1120.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR

In [6]:
type(df.iloc[0]['recon_sub_status'])

str

In [10]:
df['recon_sub_status'].head()

0    {"amount":"Not Found-SysB","fee":"Not Found-Sy...
1    {"amount":"Not Found-SysB","fee":"Not Found-Sy...
2    {"amount":"Not Found-SysB","fee":"Not Found-Sy...
3    {"amount":"Not Found-SysB","fee":"Not Found-Sy...
4    {"amount":"Not Found-SysB","fee":"Not Found-Sy...
Name: recon_sub_status, dtype: object

In [11]:
not_found_df = df[df['recon_sub_status'].str.contains("Not Found-SysB")]

In [12]:
not_found_df

,txn_ref_id,sys_a_date,sys_a_amount_attribute_1,sys_a_amount_attribute_2,sys_b_date,sys_b_amount_attribute_1,sys_b_amount_attribute_2,txn_type,payment_method,recon_status,recon_sub_status,currency_type
0,44516715,02/04/24,20.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
1,34286015,07/07/24,116.699997,1.4,NaN,NaN,NaN,payout,upi,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
2,90851690,07/05/24,50.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
3,67286592,30/07/24,900.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
4,15780875,14/08/24,1120.000000,1.4,NaN,NaN,NaN,payout,banktransfer,Not Found,"{""amount"":""Not Found-SysB"",""fee"":""Not Found-Sy...",INR
...,...,...,...,...,...,...,...,...,...,...,...,...
995,59465121,27/09/24,12.000000,NaN,NaN,NaN,NaN,payin,upi,Not Found,"{""amount"":""Not Found-SysB""}",INR
996,39694941,26/04/24,14.000000,NaN,NaN,NaN,NaN,payin,upi,Not Found,"{""amount"":""Not Found-SysB""}",INR
997,84236115,18/05/24,40.000000,NaN,NaN,NaN,NaN,payin,upi,Not Found,"{""amount"":""Not Found-SysB""}",INR
998,90817852,02/10/24,30.000000,NaN,NaN,NaN,NaN,payin,upi,Not Found,"{""amount"":""Not Found-SysB""}",INR
999,87922114,08/05/24,40.000000,NaN,NaN,NaN,NaN,payin,upi,Not Found,"{""amount"":""Not Found-SysB""}",INR